<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="lib/js/jquery.js"></script>
    <script src="lib/js/bootstrap.js"></script>
    <link rel="stylesheet" href="src/css/style.css">     
    <link rel="stylesheet" href="lib/css/bootstrap.css">
    <title>Ajax Formulaire</title>
</head>
<body>
    <div class="formbody">
    <h1>Ajax Formulaire</h1>
    <form id="myform">

            <h4 label class="formcol" for="lastName" >Nom :</label></h4>
            <input name="lastName" id="lastName" type="text" style="width: 300px" placeholder="votre Nom"/>
            <br /><br />

            <h4 label class="formcol" for="firstName">Prénom :</label></h4>
            <input name="firstName" id="firstName" type="text" style="width: 300px" placeholder="votre Prénom"/>
            <br /><br />

            <h4 label class="formcol" for="continent">Continent :</label></h4>
            <select name="continent" id="continent">
            	<option value="none">Sélectionnez votre pays de résidence</option>
                {% for continent in continents %}
                    <option value="{{ continent.id }}">{{ continent.continent }}</option>
                {% endfor %}
        	</select>   
            <br /><br />

            <div class="row">
            <div class="col-md-2"></div>
                <span class="formInput"></span>
                <input type="submit" class="btn btn-primary" value="M'inscrire" />
                <input type="reset" class="btn btn-danger" value="Réinitialiser le formulaire" />
            </div>
    </form>
    </div>
</body>
</html>